.DS_Store
*.elf
*.o
*.tns
*.zehn
./dst
./videos/moviecompile
./videos/vidtmp
./videos/*.jpg
./videos/*.jpeg
./videos/*.JPG
./videos/*.JPEG
./videos/*.mp4
./videos/*.MP4
./videos/*.mov
./videos/*.MOV
./videos/*.nmp.tns
rubbish/*
